@model LekplatsWebApp.Models.LekplatsMedOmråden
@{
    ViewBag.Title = "UppdateraLekplats";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Content/JavaScript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>UppdateraLekplats</h2>
<div class="container-input">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.LekplatsFullständigData.lekplatsId)
        <div class="row">

            <div class="inputBlock column alignRight">
                <label for="namn">Namn: </label>
            </div>
            <div class="inputBlock column alignLeft">

                @Html.EditorFor(m => m.LekplatsFullständigData.namn, new { id = "namn" })
            </div>
        </div>
        <div class="row">

            <div class="inputBlock column alignRight"><label for="adress">Adress:</label></div>
            <div class="inputBlock column alignLeft">

                @Html.TextAreaFor(m => m.LekplatsFullständigData.adress, new { id = "adress" })
            </div>
        </div>
        <div class="row">

            <div class="inputBlock column alignRight"><label for="område">Område: </label></div>
            <div class="inputBlock column alignLeft">
                @Html.DropDownListFor(m => m.LekplatsFullständigData.område,
               new SelectList(Model.OmrådesLista), "Välj")

            </div>
        </div>
        <div class="row">

            <div class="inputBlock column alignRight"><label for="beskrivning">Beskrivning: </label></div>
            <div class="inputBlock column alignLeft">
                @Html.TextAreaFor(m => m.LekplatsFullständigData.beskrivning, new { id = "beskrivning" })

            </div>
        </div>
        <div class="row">
            <div class="inputBlock column alignRight">
                <label for="tillgänglighet">Lekplatstrustning: </label>
            </div>

            <div class="inputBlock column alignLeft">
                <input type="button" class="button" value="Lägg till rad" onclick="LäggTillInputrad('lekutrustningContainer', 'lekutrustning')" />
                <div id="lekutrustningContainer" class="list-group">
                    <script>
                        //Alla inmatningsfält läggs i en lista skapad med SortableJS.
                        //Listan fungerar bara med rätt klassnamn, byt inte namn på klassen
                        //Handle används för att kunna dra listelement med en ikon.
                        //Ikonen skapas i LäggTillRad (javascript) och måste ha samma klass som handle
                        var lista = document.getElementById('lekutrustningContainer');
                        var sortable = Sortable.create(lista, { handle: '.fa-arrows-v', animation: 150 });
                    </script>
                    @for (int i = 0; i < Model.LekplatsFullständigData.lekutrustning.Length; i++)
                    {
                        <div class="list-group-item">
                            <i class="fa fa-arrows-v"></i>
                            <input type="text" name="lekutrustning" value="@Model.LekplatsFullständigData.lekutrustning[i]" />
                            <i class="fa fa-times"></i>
                        </div>
                    }
                    <script>
                        var btnTaBort = document.getElementsByClassName("fa fa-times");
                        for (var i = 0; i < btnTaBort.length; i++) {
                            btnTaBort[i].addEventListener("click", TaBortRad);
                        }
                    </script>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="inputBlock column alignRight">
                <label for="tillgänglighet">Tillgänglighet:</label>
            </div>
            <div class="inputBlock column alignLeft">
                <input type="button" class="button" value="Lägg till rad" onclick="LäggTillInputrad('tillgänglighetContainer', 'tillgänglighet')" />
                <div id="tillgänglighetContainer" class="list-group">
                    <script>
                        //Alla inmatningsfält läggs i en lista skapad med SortableJS.
                        //Listan fungerar bara med rätt klassnamn, byt inte namn på klassen
                        //Handle används för att kunna dra listelement med en ikon.
                        //Ikonen skapas i LäggTillRad (javascript) och måste ha samma klass som handle
                        var lista = document.getElementById('tillgänglighetContainer');
                        var sortable = Sortable.create(lista, { handle: '.fa-arrows-v', animation: 150 });
                    </script>
                    @for (int i = 0; i < Model.LekplatsFullständigData.tillgänglighet.Length; i++)
                    {
                        <div class="list-group-item">
                            <i class="fa fa-arrows-v"></i>
                            <input type="text" name="tillgänglighet" value="@Model.LekplatsFullständigData.tillgänglighet[i]" />
                            <i class="fa fa-times"></i>
                        </div>
                    }
                    <script>
                        var btnTaBort = document.getElementsByClassName("fa fa-times");
                        for (var i = 0; i < btnTaBort.length; i++) {
                            btnTaBort[i].addEventListener("click", TaBortRad);
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="inputBlock column alignRight"><label for="målgrupp">Målgrupp:</label></div>
            <div class="inputBlock column alignLeft">
                Minsta ålder<br />
                @Html.EditorFor(m => m.LekplatsFullständigData.målgrupp[0], new { id = "minAge"})
                <p></p>
                Max-ålder<br />
                @Html.EditorFor(m => m.LekplatsFullständigData.målgrupp[1], new { id = "maxAge"})

            </div>
        </div>
        <div class="row">
            <div class="inputBlock column alignRight"><a class="button" href="@Url.Action("Index", "Admin")">Gå tillbaka till lista</a></div>
            <div class="inputBlock column alignLeft">
                <input type="submit" class="button" value="Uppdatera lekplats">
            </div>
        </div>

    }
    <div class="row">
        <div class="inputBlock column alignRight">
            <form action="@Url.Action("TaBortLekplats", "Admin")" method="post">
                <input type="hidden" name="lekplatsId" value="@Model.LekplatsFullständigData.lekplatsId" />
                <input type="submit" class="buttonRemove" value="Ta bort lekplats">
            </form>
        </div>
        <div class="inputBlock column alignLeft">

        </div>
    </div>
</div>